<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>STASH_INFERENCE_API_KEY</key>
	<string></string>
	<key>STASH_SPEECH_TRANSCRIPTION_API_KEY</key>
	<string></string>
	<key>STASH_GROQ_TRANSCRIPTION_KEY</key>
	<string></string>
	<key>GROQ_API_KEY</key>
	<string></string>
	<key>SUPABASE_URL</key>
	<string></string>
	<key>SUPABASE_ANON_KEY</key>
	<string></string>
</dict>
</plist>
